<style>
    .collection {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-container {
        border-radius: 10px;
        margin: 24px;
        background: #232323;
        width: 90%;
    }
    .collection-action a{
        margin: 0.4rem;
    }
</style>


<%- include('navbar') %>

    <!----------------------------------------- Admin Menu ---------------------------------------------------->

    <div class="admin-home">
        <div class="sidebar">
            <div class="menu-item">
                <a href="/admin/home">
                    <div class="admin-menu"><i class="bi bi-grid"></i>Dashboard</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/collection">
                    <div class="admin-menu"><i class="bi bi-collection-fill"></i>Collection</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/products">
                    <div class="admin-menu"><i class="bi bi-grid"></i>Products</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/users">
                    <div class="admin-menu"><i class="bi bi-people"></i>Customers</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/orders">
                    <div class="admin-menu"><i class="bi bi-cart"></i>Orders</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/coupon">
                    <div class="admin-menu"><i class="bi bi-receipt"></i>Coupons</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/coupons">
                    <div class="admin-menu"><i class="bi bi-image"></i>Banner</div>
                </a>
            </div>
            <div class="menu-item admin-menu-loyout">
                <a href="/admin/logout">
                    <div class="admin-menu "><i class="bi bi-box-arrow-right"></i>Logout</div>
                </a>
            </div>
        </div>


        <!------------------------------------- collection page -------------------------------------------------------->
        <div class="collection ">
            <div class="search-container d-flex  justify-content-between">
                <div class="d-flex justify-content-between align-items-center gap-2 p-2">
                    <h2 class="text-white mx-5">
                        <%= title %>
                    </h2>
                    <form action="/admin/collection" method="get" class="form  d-flex align-items-center">
                        <input type="text " name="search" placeholder="search" class="form-input form-control">
                        <input type="submit" class="btn submit-btn" value="Search">
                    </form>
                </div>
                <button type="button" class="btn submit-btn" data-bs-toggle="modal" data-bs-target="#addCollection">Add
                    Collection</button>
            </div>

            <!----------------------------------------- collection table --------------------------------------------------->

            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr scope="row" class="product-table-head">
                            <th scope="col" class="product-table-first">SL.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Added On</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="product-table-last">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% collection.forEach((collection,index)=> { %>
                            <tr scope="row">
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td>
                                    <%= collection.collectionName %>
                                </td>
                                <td>
                                    <%= collection.createdAt.toLocaleDateString() %>
                                </td>
                                <td>
                                    <% if(collection.isActive) { %>
                                        <span class="status active">Active</span>
                                        <% }else{ %>
                                            <span class="status block">Blocked</span>
                                            <% } %>
                                </td>
                                <td class="collection-action">
                                    <a href="" id="edit-collection-modal" data-bs-toggle="modal"
                                        data-bs-target="#editCollection" data-name="<%=collection.collectionName%>"
                                        data-id="<%=collection.id %>"><i class="bi bi-pencil-square"></i></a>
                                    <a
                                        href="/admin/collectionstatus?id=<%= collection.id %>&status=<%=collection.isActive %>"><i
                                            class="bi bi-x-circle"></i></a>
                                    <a href="/admin/deletecollection/<%= collection.id %>" class="sweet-alert-delete"><i
                                            class="bi bi-trash3"></i></a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-------------------------- Add collection modal ------------------------------------------>

    <div class="modal fade" id="addCollection">
        <div class="modal-dialog">
            <div class="modal-content collection-modal">
                <div class="collection-container">
                    <h2 class="text-center mb-4 mt-2">Add Collection</h2>
                    <form class="form d-flex flex-column gap-3 pt-4" action="/admin/addcollection" method="post">
                        <input type="text" name="collectionName" class="form-control form-input"
                            placeholder="Collection Name" required>
                        <button type="submit" class="btn submit-btn">+ Add Collection</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!------------------------------ Edit collection ------------------------------------------------->

    <div class="modal fade" id="editCollection">
        <div class="modal-dialog">
            <div class="modal-content collection-modal">
                <div class="collection-container">
                    <h2 class="text-center mb-4 mt-2">Collection</h2>
                    <form class="form d-flex flex-column gap-3 pt-4" action="/admin/editcollection" method="post">
                        <input type="hidden" name="collectionId" id="editCollectionId">
                        <input type="text" name="collectionName" id="editCollectionName" class="form-control form-input"
                            placeholder="Collection Name" required>
                        <button type="submit" class="btn submit-btn edit-alert">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>

    <!--------------------------------- edit collection modal view foreach ---------------------------------------->
        <script>
            const editCollection = document.querySelectorAll('#edit-collection-modal')

            editCollection.forEach(ele => {
                ele.addEventListener('click', function () {
                    const name = this.getAttribute('data-name')
                    const id = this.getAttribute('data-id')
                    document.getElementById('editCollectionName').value = name
                    document.getElementById('editCollectionId').value = id
                })
            })

            const imageUpload = document.getElementById('image-upload')
            const imageUploadPreview = document.getElementById('image-upload-preview')
            let cropper
            let currentImage
            const cropperModalElement = document.getElementById('cropperModal')
            const cropperModal = new bootstrap.Modal(
                document.getElementById('cropperModal'),
                {}
            )

            imageUpload.addEventListener('change', () => {
                imageUploadPreview.innerHTML = ''

                if (imageUpload.files.length != 3) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops',
                        text: 'Select three Images'
                    })

                    imageUpload.value = ''
                } else {
                    for (let i = 0; i < imageUpload.files.length; i++) {
                        let reader = new FileReader()
                        let figure = document.createElement('div')
                        figure.classList.add('image-preview-box')

                        reader.onload = () => {
                            let img = document.createElement('img')
                            img.classList.add('preview-img')
                            img.setAttribute('src', reader.result)
                            figure.appendChild(img)

                            // Create delete button with class delete-button
                            let deleteButton = document.createElement('button')
                            deleteButton.textContent = 'Delete'
                            deleteButton.classList.add('btn', 'submit-btn', 'delete-button')
                            deleteButton.addEventListener('click', () => {
                                // Remove the parent div (figure) when the delete button is clicked
                                figure.remove()
                                imageUpload.value = ''
                            })

                            figure.appendChild(deleteButton)
                            imageUploadPreview.appendChild(figure)

                            img.addEventListener('click', () => {
                                currentImage = img
                                document.getElementById('image-to-crop').src = reader.result
                                cropperModal.show()
                                cropperModalElement.addEventListener(
                                    'shown.bs.modal',
                                    () => {
                                        if (cropper) cropper.destroy()
                                        const imageToCrop = document.getElementById('image-to-crop')
                                        cropper = new Cropper(imageToCrop, {
                                            aspectRatio: 0,
                                            viewMode: 0,
                                            autoCropArea: 0,
                                            responsive: true,
                                            background: false
                                        })
                                    },
                                    { once: true }
                                )
                            })
                        }

                        reader.readAsDataURL(imageUpload.files[i])
                    }
                }
            })
        </script>