<style>
    .category {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-container {
        border-radius: 10px;
        margin: 24px;
        background: #232323;
        width: 90%;
    }

    .category-action a {
        margin: 0.4rem;
    }
</style>


<%- include('navbar') %>

    <!----------------------------------------- Admin Menu ---------------------------------------------------->

    <div class="admin-home">
        <div class="sidebar">
            <div class="menu-item">
                <a href="/admin/home">
                    <div class="admin-menu"><i class="bi bi-grid"></i>Dashboard</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/salesReport">
                    <div class="admin-menu"><i class="bi bi-bar-chart"></i>Sales Report</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/collection">
                    <div class="admin-menu"><i class="bi bi-collection-fill"></i>Category</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/products">
                    <div class="admin-menu"><i class="bi bi-box"></i>Products</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/users">
                    <div class="admin-menu"><i class="bi bi-people"></i>Customers</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/order">
                    <div class="admin-menu"><i class="bi bi-cart"></i>Orders</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/coupons">
                    <div class="admin-menu"><i class="bi bi-ticket-perforated"></i>Coupons</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/offer">
                    <div class="admin-menu"><i class="bi bi-gift"></i>Offer</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/popups">
                    <div class="admin-menu"><i class="bi bi-exclamation-triangle"></i>Popups</div>
                </a>
            </div>
            <!-- <div class="menu-item">
                <a href="#">
                    <div class="admin-menu"><i class="bi bi-image"></i>Banner</div>
                </a>
            </div> -->
            <div class="menu-item admin-menu-loyout">
                <a href="/admin/logout">
                    <div class="admin-menu "><i class="bi bi-box-arrow-right"></i>Logout</div>
                </a>
            </div>
        </div>


        <!------------------------------------- category page Header -------------------------------------------------------->
        <div class="category ">
            <div class="search-container d-flex  justify-content-between">
                <div class="d-flex justify-content-between align-items-center gap-2 p-2">
                    <h2 class="text-white mx-5">
                        <%= title %>
                    </h2>
                    <form action="/admin/collection" method="get" class="form  d-flex align-items-center">
                        <input type="text " name="search" placeholder="search" class="form-input form-control">
                        <input type="submit" class="btn submit-btn" value="Search">
                    </form>
                </div>
                <button type="button" class="btn submit-btn" data-bs-toggle="modal" data-bs-target="#addCollection">Add
                    Category</button>
            </div>

            <!----------------------------------------- category table --------------------------------------------------->

            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr scope="row" class="product-table-head">
                            <th scope="col" class="product-table-first">SL.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Added On</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="product-table-last">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% category.forEach((category,index)=> { %>
                            <tr scope="row">
                                <td>
                                    <%= index + 1 + ((page - 1) * 6) %>
                                </td>
                                <td>
                                    <%= category.collectionName %>
                                </td>
                                <td>
                                    <%= category.createdAt.toLocaleDateString() %>
                                </td>
                                <td>
                                    <% if(category.isActive) { %>
                                        <span class="status active">Active</span>
                                        <% }else{ %>
                                            <span class="status block">Blocked</span>
                                            <% } %>
                                </td>
                                <td class="category-action">
                                    <a href="" id="edit-collection-modal" data-bs-toggle="modal"
                                        data-bs-target="#editCollection" data-name="<%=category.collectionName%>"
                                        data-id="<%= category.id %>"><i class="bi bi-pencil-square"></i></a>
                                    <a
                                        href="/admin/collectionstatus?id=<%= category.id %>&status=<%= category.isActive %>"><i
                                            class="bi bi-x-circle"></i></a>
                                    <a href="/admin/deletecollection/<%= category.id %>" class="sweet-alert-delete"><i
                                            class="bi bi-trash3"></i></a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <!------------------------------------ Pagination Controls -------------------------------->
                <div class="pagination-controls d-flex  mt-3">
                    <ul class="pagination">
                        <% if (currentPage> 1) { %>
                            <li class="page-item"><a class="page-link"
                                    href="/admin/collection=<%= currentPage - 1 %>&limit=<%= limit %>&search=<%= search %>">Previous</a>
                            </li>
                            <% } %>
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                                        <a class="page-link"
                                            href="/admin/collection?page=<%= i %>&limit=<%= limit %>&search=<%= search %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item"><a class="page-link pagination-next-btn"
                                                    href="/admin/collection=<%= currentPage + 1 %>&limit=<%= limit %>&search=<%= search %>">Next</a>
                                            </li>
                                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-------------------------- Add collection modal ------------------------------------------>

    <div class="modal fade" id="addCollection">
        <div class="modal-dialog">
            <div class="modal-content collection-modal">
                <div class="collection-container">
                    <h2 class="text-center mb-4 mt-2">Add Collection</h2>
                    <form class="form d-flex flex-column align-items-center gap-3 pt-4" action="/admin/addcollection"
                        method="post">
                        <input type="text" name="collectionName" class="form-control form-input"
                            placeholder="Collection Name" required>
                        <button type="submit" class="btn submit-btn"> Add Collection</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!------------------------------ Edit collection ------------------------------------------------->

    <div class="modal fade" id="editCollection">
        <div class="modal-dialog">
            <div class="modal-content collection-modal">
                <div class="collection-container">
                    <h2 class="text-center mb-4 mt-2">Collection</h2>
                    <form class="form d-flex flex-column gap-3 pt-4" action="/admin/editcollection" method="post">
                        <input type="hidden" name="collectionId" id="editCollectionId">
                        <div class="d-flex justify-content-center">
                            <input type="text" name="collectionName" id="editCollectionName"
                                class="form-control form-input" placeholder="Collection Name" required>
                        </div>
                        <button type="submit" class="btn submit-btn edit-alert">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <%- include('footer') %>

        <script>
            //------------------- sweet alert for delete confirmation --------------
            const alertDelete = document.querySelectorAll('.sweet-alert-delete')
            alertDelete.forEach(ele => {
                ele.addEventListener('click', event => {
                    event.preventDefault()
                    Swal.fire({
                        title: 'Delete the category',
                        text: 'Are you sure you want to delete the category?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#DB4444',
                        cancelButtonColor: '#D5D2FF',
                        confirmButtonText: 'Confirm'
                    }).then(res => {
                        if (res.isConfirmed) {
                            window.location.href = event.target.closest('a').href
                        }
                    })
                })
            })

            // ----------------------------- edit collection modal view foreach --------------------------------------

            const editCollection = document.querySelectorAll('#edit-collection-modal')
            editCollection.forEach(ele => {
                ele.addEventListener('click', function () {
                    const name = this.getAttribute('data-name')
                    const id = this.getAttribute('data-id')
                    document.getElementById('editCollectionName').value = name
                    document.getElementById('editCollectionId').value = id
                })
            })

            // ------------------------------- Validation --------------------------------------

            document.addEventListener("DOMContentLoaded", () => {
                const addCollectionForm = document.querySelector("#addCollection form");
                const editCollectionForm = document.querySelector("#editCollection form");
                const addCollectionNameInput = addCollectionForm.querySelector("input[name='collectionName']");
                const editCollectionNameInput = editCollectionForm.querySelector("input[name='collectionName']");

                const validateCollectionName = (name) => {
                    const trimmedName = name.trim();

                    if (trimmedName === "") {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Collection Name is required.',
                        });
                        return false;
                    }

                    if (!/^[a-zA-Z]+$/.test(trimmedName)) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Collection Name can only contain letters.',
                        });
                        return false;
                    }

                    if (trimmedName.length < 6) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Collection Name must be at least 6 letters long.',
                        });
                        return false;
                    }
                    return true;
                };

                addCollectionForm.addEventListener("submit", (event) => {
                    if (!validateCollectionName(addCollectionNameInput.value)) {
                        event.preventDefault();
                    }
                });

                editCollectionForm.addEventListener("submit", (event) => {
                    if (!validateCollectionName(editCollectionNameInput.value)) {
                        event.preventDefault();
                    }
                });
            });
        </script>