<style>
    .main-content {
        color: #1a1a1a;
        flex-grow: 1;
        padding: 20px;
        background-color: #1a1a1a;
    }

    .sidebar-header {
        display: flex;
    }

    .controls {
        width: 60%;
        margin-left: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .year-select,
    .download-btn {
        border-radius: 10px;
        padding: 10px;
        margin-left: 10px;
        font-size: 16px;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .stat-item {
        background-color: white;
        padding: 20px;
        flex: 1;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .stat-change {
        display: block;
        margin-top: 10px;
        font-size: 16px;
    }

    .positive {
        color: green;
    }

    .negative {
        color: red;
    }

    .chart {
        margin-top: 20px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .sales-chart {
        width: 100%;
    }
</style>



<%- include('navbar') %>

<!----------------------------------------- Admin Menu ---------------------------------------------------->

    <div class="admin-home">
        <div class="sidebar">
            <div class="menu-item ">
                <a href="/admin/home">
                    <div class="admin-menu"><i class="bi bi-grid"></i>Dashboard</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/salesReport">
                    <div class="admin-menu"><i class="bi bi-bar-chart"></i>Sales Report</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/collection">
                    <div class="admin-menu"><i class="bi bi-collection-fill"></i>Category</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/products">
                    <div class="admin-menu"><i class="bi bi-box"></i>Products</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/users">
                    <div class="admin-menu"><i class="bi bi-people"></i>Customers</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/order">
                    <div class="admin-menu"><i class="bi bi-cart"></i>Orders</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/coupons">
                    <div class="admin-menu"><i class="bi bi-ticket-perforated"></i>Coupons</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/offer">
                    <div class="admin-menu"><i class="bi bi-gift"></i>Offer</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/popups">
                    <div class="admin-menu"><i class="bi bi-exclamation-triangle"></i>Popups</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="#">
                    <div class="admin-menu"><i class="bi bi-image"></i>Banner</div>
                </a>
            </div>
            <div class="menu-item admin-menu-loyout">
                <a href="/admin/logout">
                    <div class="admin-menu "><i class="bi bi-box-arrow-right"></i>Logout</div>
                </a>
            </div>
        </div>

        <!----------------------------------------- Admin Dashboard ---------------------------------------------------->
        
        <div class="main-content">
            <div class="sidebar-header">
                <h1 class="text-white">Sales Summary</h1>
            </div>
            <div class="stats">
                <div class="stat-item">
                    <p>Revenue</p>
                        <h2>
                            <i class="fa-solid fa-indian-rupee-sign "></i>
                            <%= Revenue %>
                        </h2>
                        <!-- <span class="stat-change negative">-25%</span> -->
                </div>
                <div class="stat-item">
                    <p>Orders</p>
                    <h2><%= orderCount %></h2>
                    <!-- <span class="stat-change negative">-25%</span> -->
                </div>
                <div class="stat-item">
                    <p>Products Sold</p>
                    <h2><%= productCount %></h2>
                    <!-- <span class="stat-change positive">+49%</span> -->
                </div>
                <div class="stat-item">
                    <p>Total Customers</p>
                    <h2><%= userCount %></h2>
                    <!-- <span class="stat-change positive">+4%</span> -->
                </div>
            </div>
            <!-- <div class="chart">
                <img src="" class="sales-chart">
            </div> -->
        </div>
    </div>



    <%- include('footer') %>