<style>
    .admin-product {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-head {
        border-radius: 10px;
        margin: 24px;
        background: #232323;
        width: 95%;
    }

    .product-header {
        margin-left: 30px;
    }

    .form-input {
        height: 80%;
    }

    .form-product {
        display: flex;
        align-items: center;
    }
</style>



<%- include('navbar') %>

    <!------------------------------------------ Admin Menu ----------------------------------------------------->

    <div class="admin-home">
        <div class="sidebar">
            <div class="menu-item">
                <a href="/admin/home">
                    <div class="admin-menu"><i class="bi bi-grid"></i>Dashboard</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/salesReport">
                    <div class="admin-menu"><i class="bi bi-bar-chart"></i>Sales Report</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/collection">
                    <div class="admin-menu"><i class="bi bi-collection-fill"></i>Category</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/products">
                    <div class="admin-menu"><i class="bi bi-box"></i>Products</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/users">
                    <div class="admin-menu"><i class="bi bi-people"></i>Customers</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/order">
                    <div class="admin-menu"><i class="bi bi-cart"></i>Orders</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/coupons">
                    <div class="admin-menu"><i class="bi bi-ticket-perforated"></i>Coupons</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/offer">
                    <div class="admin-menu"><i class="bi bi-gift"></i>Offer</div>
                </a>
            </div>
            <div class="menu-item">
                <a href="/admin/popups">
                    <div class="admin-menu"><i class="bi bi-exclamation-triangle"></i>Popups</div>
                </a>
            </div>
            <!-- <div class="menu-item">
                <a href="#">
                    <div class="admin-menu"><i class="bi bi-image"></i>Banner</div>
                </a>
            </div> -->
            <div class="menu-item admin-menu-loyout">
                <a href="/admin/logout">
                    <div class="admin-menu "><i class="bi bi-box-arrow-right"></i>Logout</div>
                </a>
            </div>
        </div>

        <!-------------------------------------- Products page header  -------------------------------------------------------->

        <div class="admin-product mb-4">
            <div class="product-head d-flex justify-content-between">
                <div class="product-header d-flex justify-content-between align-items-center gap-5">
                    <h2 class="text-white">
                        <%= title %>
                    </h2>
                    <form action="/admin/products" method="get" class="form-product  d-flex gap-1">
                        <input type="text" name="search" placeholder="search" class="form-input form-control">
                        <input type="submit" class="btn submit-btn" value="Search">
                    </form>
                </div>
                <a href="/admin/addproduct" type="button" class="btn submit-btn"> Add Product</a>
            </div>

            <!--------------------------------------- product table ---------------------------------------------------->

            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr scope="row" class="product-table-head">
                            <th scope="col" class="product-table-first">SL.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Collection</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="product-table-last">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let slNo=(currentPage - 1) * limit + 1 ; %>
                            <% products.forEach((product,index)=> { %>
                                <tr scope="row">
                                    <td>
                                        <%= index + 1 + ((page - 1) * 6) %>
                                    </td>
                                    <td>
                                        <%= product.productName %>
                                    </td>
                                    <td>
                                        <%= product.productPrice %>
                                    </td>
                                    <td>
                                        <%= product.productQuantity %>
                                    </td>
                                    <td>
                                        <%= product.productCollection %>
                                    </td>
                                    <td>
                                        <% if(product.isActive) { %>
                                            <span class="status active">Active</span>
                                            <% }else{ %>
                                                <span class="status block">Blocked</span>
                                                <% } %>
                                    </td>
                                    <td class="products-icon">
                                        <a href="/admin/editproduct/<%= product.id %>"><i
                                                class="bi bi-pencil-square product-icons"></i></a>
                                        <a
                                            href="/admin/productstatus?id=<%= product.id %>&&status=<%= product.isActive%>"><i
                                                class="bi bi-x-circle product-icons"></i></a>
                                        <a href="/admin/products/<%= product.id %>" class="sweet-alert-delete"><i
                                                class="bi bi-trash3 product-icons"></i></a>
                                    </td>
                                </tr>
                                <% slNo++; %>
                                    <% }) %>
                    </tbody>
                </table>
                <!------------------------------------ Pagination Controls -------------------------------->
                <div class="pagination-controls d-flex  mt-3">
                    <ul class="pagination">
                        <% if (currentPage> 1) { %>
                            <li class="page-item"><a class="page-link"
                                    href="/admin/products?page=<%= currentPage - 1 %>&limit=<%= limit %>&search=<%= search %>">Previous</a>
                            </li>
                            <% } %>
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                                        <a class="page-link"
                                            href="/admin/products?page=<%= i %>&limit=<%= limit %>&search=<%= search %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item"><a class="page-link pagination-next-btn"
                                                    href="/admin/products?page=<%= currentPage + 1 %>&limit=<%= limit %>&search=<%= search %>">Next</a>
                                            </li>
                                            <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>

        <script>
            //------------------- sweet alert for delete confirmation --------------
            const alertDelete = document.querySelectorAll('.sweet-alert-delete')
            alertDelete.forEach(ele => {
                ele.addEventListener('click', event => {
                    event.preventDefault()
                    Swal.fire({
                        title: 'Delete the Product',
                        text: 'Are you sure you want to delete the Product?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#DB4444',
                        cancelButtonColor: '#D5D2FF',
                        confirmButtonText: 'Confirm'
                    }).then(res => {
                        if (res.isConfirmed) {
                            window.location.href = event.target.closest('a').href
                        }
                    })
                })
            })
        </script>