<style>
    .main-checkout {
        color: #fefeeb;
        display: flex;
        gap: 2rem;
    }

    /* ----------------------------- Shipping Address ------------------------------ */

    .shipping-address-container {
        background-color: #232323;
        color: #fefeeb;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        width: 100%;
    }

    .shipping-head {
        display: flex;
        justify-content: space-between;
    }

    .shipping-address-container h2 {
        margin-bottom: 20px;
        color: #fefeeb;
    }

    .add-address-btn {
        background-color: transparent;
        border: none;
        color: #DB4444;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .address-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .address-card {
        background-color: #232323;
        color: #fefeeb;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: calc(33.333% - 10px);
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .address-card.selected {
        border: 2px solid #DB4444;
    }

    .address-info {
        max-width: 80%;
    }

    .address-info h3 {
        margin: 0 0 5px;
    }

    .address-info p {
        margin: 0;
        color: #fefeeb;
        font-size: 14px;
    }

    .address-options button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 18px;
        color: #fefeeb;
    }

    @media (max-width: 768px) {
        .address-card {
            width: calc(50% - 10px);
        }
    }

    @media (max-width: 480px) {
        .address-card {
            width: 100%;
        }
    }

    /* ----------------------------- billing info ------------------------------ */

    .billing-info-container {
        background-color: #232323;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        width: 100%;
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .icon {
        font-size: 30px;
        background-color: #DB4444;
        color: #fefeeb;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .title h2 {
        margin: 0;
        color: #fefeeb;
    }

    .title p {
        margin: 0;
        color: #fefeeb;
    }

    .billing-form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .form-group {
        flex: 1;
        min-width: 200px;
        display: flex;
        flex-direction: column;
    }

    .full-width {
        flex: 1 1 100%;
    }

    label {
        margin-bottom: 5px;
        color: #fefeeb;
    }

    input,
    select,
    textarea {
        padding: 10px;
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 14px;
        width: 100%;
        box-sizing: border-box;
    }

    textarea {
        resize: vertical;
    }

    @media (max-width: 600px) {
        .form-group {
            min-width: 100%;
        }
    }

    /*------------------------------- payment option ----------------------------*/

    .payment-methods {
        background: #232323;
        border-radius: 10px;
        padding: 20px;
        max-width: 800px;
    }

    .payment-method {
        margin: 2rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        padding: 10px;
        border: 2px solid transparent;
        border-radius: 8px;
        transition: border-color 0.3s ease;
        cursor: pointer;
    }

    .payment-method:hover {
        border-color: #007bff;
    }

    .payment-options {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .payment-method img {
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    .payment-method.selected {
        border-color: #007bff;
    }

    @media (max-width: 768px) {
        .payment-methods {
            flex-direction: column;
        }

        .payment-method {
            margin-bottom: 10px;
            width: 100%;
            text-align: center;
        }
    }

    /*------------------------- order summary ------------------------------*/
    .card {
        background: #232323;
    }

    .order-tr th {
        background: transparent;
        color: #fefeeb;
    }
</style>

<%- include('navbar') %>

    <div class="container mt-5 mb-5 main-checkout">
        <div>
            <!----------------------------- Shipping Address ------------------------------>
            <div class="shipping-address-container mb-4">
                <div class="shipping-head">
                    <h2>Shipping Address</h2>
                    <button class="add-address-btn">Add Address</button>
                </div>
                <div class="address-cards">
                    <% if (!userDetails.address || userDetails.address.length===0) { %>
                        <p class="mt-5">No Address Found. Please add an Address.</p>
                        <% } else { %>
                            <% userDetails.address.forEach((address, index)=> { %>
                                <div class="address-card" onclick="selectAddress(this)">
                                    <div class="address-info">
                                        <!-- <h3>Home</h3> -->
                                        <h3>
                                            <%= address.building %>,
                                        </h3>
                                        <p>
                                            <%= address.phonenumber %>
                                        </p>
                                        <p>
                                            <%= address.city %> , <%= address.state %> , <%= address.country %>
                                        </p>
                                        <p>
                                            <%= address.pincode %>
                                        </p>
                                    </div>
                                    <div class="address-options">
                                        <button><i class="bi bi-pencil"></i></button>
                                    </div>
                                </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
            <!----------------------------- billing info ------------------------------>
            <div class="billing-info-container">
                <div class="header">
                    <div class="icon">📄</div>
                    <div class="title">
                        <h2>Billing Info</h2>
                        <p>Sed ut perspiciatis unde omnis iste</p>
                    </div>
                </div>
                <form class="billing-form" id="billing-form">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="tel" id="phone" placeholder="Enter Phone no.">
                    </div>
                    <div class="form-group full-width">
                        <label for="address">Address</label>
                        <textarea id="address" placeholder="Enter full address"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" id="country" placeholder="Country">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" id="city" placeholder="Enter City">
                    </div>
                    <div class="form-group">
                        <label for="zip">Zip / Postal code</label>
                        <input type="text" id="zip" placeholder="Enter Postal code">
                    </div>
                </form>
            </div>

            <!---------------------------- payment option ------------------------------->
            <div class="payment-methods mt-4">
                <h2>Payment method :</h2>
                <div class="payment-options">
                    <div class="payment-method" onclick="selectPaymentMethod(this)">
                        <i class="bi bi-credit-card" style="font-size: 2rem;"></i>
                        <span>Debit Card</span>
                    </div>
                    <div class="payment-method" onclick="selectPaymentMethod(this)">
                        <i class="bi bi-paypal" style="font-size: 2rem;"></i>
                        <span>Paypal</span>
                    </div>
                    <div class="payment-method selected" onclick="selectPaymentMethod(this)">
                        <i class="bi bi-cash" style="font-size: 2rem;"></i>
                        <span>Cash on Delivery</span>
                    </div>
                </div>
            </div>
        </div>

        <!----------------------------- Order Summary ------------------------------>
        <div class="order-summary" style="width: 45%;">
            <div class="card">
                <div class="card-header">
                    <h5 class="font-size-16 mb-0" style="color: #fefeeb;">Order Summary</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let total=0; cartDetails.items.forEach((product, index)=> {
                                    total += product.quantity * product.price %>
                                    <tr class="order-tr">
                                        <th>
                                            <%= product.productId.productName %>
                                        </th>
                                        <th>
                                            <%= product.quantity %>
                                        </th>
                                        <td><i class="bi bi-currency-rupee"></i>
                                            <%= product.productPrice * product.quantity %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th style="background: transparent; color: #fefeeb;">Total :</th>
                                    <th style="background: transparent; color: #fefeeb;"></th>
                                    <td style="background: transparent; color: #fefeeb;">
                                        <i class="bi bi-currency-rupee"></i>
                                        <%= total %>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="mt-4">
                        <div class="mt-3 text-center">
                            <a href="/user/cart"><button class="btn submit-btn-light">Cancel</button></a>
                            <button type="submit" class="btn submit-btn" form="checkout-form">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>

        <script>
            // selecting item Option
            function selectAddress(element) {
                const cards = document.querySelectorAll('.address-card');
                cards.forEach(card => {
                    card.classList.remove('selected');
                });
                element.classList.add('selected');
            }
            function selectPaymentMethod(element) {
                const methods = document.querySelectorAll('.payment-method');
                methods.forEach(method => method.classList.remove('selected'));
                element.classList.add('selected');
            }
        </script>