<style>
    .latest-Products{
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* gap: 33rem; */
    }
    .latest-Products button{
        height: 3rem;
        margin-left: 2rem;
    }
</style>

<!-------------------------------------------- All Products ------------------------------------------------->

<div class="product-container">
    <div class="latest-Products">
        <h2>Latest Products</h2>
        <a href="/View-more">
            <button class="btn btn-danger">
                View more
            </button>
        </a>
    </div>
    <div class="product-list-box container">
        <% let count = 0; %>
        <% product.forEach((product) => {
            const productAge = (Date.now() - new Date(product.createdAt).getTime()) / (24 * 60 * 60 * 1000);
            if (productAge <= 10 && count < 8) {
                count++; %>
            <div class="product-box">
                <% if (productAge <= 10) { %>
                    <div class="product-newarrival-box">
                        <h6>New Arrival</h6>
                    </div>
                <% } %>
                <div class="product-image-box">
                    <a href="/productDetail/<%= product.id %>" class="product-name-link">
                        <img src="/<%= product.productImage[0] %>" alt="">
                    </a>
                </div>
                <div class="product-name-box">
                    <h6 class="product-text-row">
                        <%= product.productName %>
                    </h6>
                    <h5 class="product-price">
                        <i class="fa-solid fa-indian-rupee-sign product-text-row"></i>
                        <%= product.productPrice.toLocaleString() %>
                    </h5>
                </div>
                <div>
                    <a onclick="addwishlist('<%= product.id %>', '<%= product.productPrice %>', '<%= user %>')" class="wishlist-icon">
                        <i class="fas fa-heart"></i></a>
                    <a onclick="addToCart('<%= product.id %>','<%= product.productPrice %>','<%=user %>')"
                        class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
            <% }
        }) %>
    </div>
</div>

<!----------------- line ---------------------->

<div class="home-line-div mt-5">
    <hr>
</div>

