<style>
    .my-order {
        display: flex;
        justify-content: center;
        color: #fefeeb;
        margin: 3rem;
    }

    .avatar-lg {
        height: 5rem;
        width: 5rem;
    }

    .font-size-18 {
        font-size: 18px !important;
    }

    .text-truncate {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        text-decoration: none !important;
    }

    .w-xl {
        min-width: 160px;
    }

    .card {
        margin-bottom: 3rem;
        /* -webkit-box-shadow: 0 2px 3px #e4e8f0; */
        /* box-shadow: 0 2px 3px #e4e8f0; */
    }

    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-clip: border-box;
        border: 1px solid #eff0f2;
        border-radius: 1rem;
    }


    .order-container {
        position: relative;
        overflow: hidden;
        background: #232323;
        color: #fefeeb;
    }

    .order-actions-top {
        position: absolute;
        top: 34px;
        right: 68px;
    }

    .add-review-button {
        cursor: pointer;
    }

    .order-place {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .no-orders {
        width: 50%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        background: #232323;
        border-radius: 10px;
    }

    .nothing {
        color: #fefeeb;
        font-family: monospace;
    }

    .order-div {
        display: flex;
        justify-content: center;
        min-height: 500px;
        align-items: center;
    }

    .modal-content {
        background: #232323;
        color: #fefeeb;
    }

    .form-control {
        background: transparent;
        color: #fefeeb;
    }

    .form-control:focus {
        background: transparent;
        color: #fefeeb;
        outline: none;
        box-shadow: none;
    }

    .nav-pills {
        display: flex;
        justify-content: space-around;
        padding-bottom: 2rem;
    }

    .nav-pills .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        margin: 5px;
        transition: background-color 0.3s, transform 0.3s;
    }

    .nav-pills .nav-link img {
        margin-right: 8px;
        width: 24px;
        height: 24px;
    }

    .nav-pills .nav-link:hover {
        background-color: #db4444;
        color: #fefeeb;
        transform: scale(1.1);
    }

    .nav-pills .nav-link.active {
        background-color: #db4444;
        color: #fefeeb;
    }
</style>



<%- include('navbar') %>
    <div class="container mt-5">
        <h1 class="my-order">My Orders</h1>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="all-orders-tab" data-bs-toggle="pill" href="#all-orders" role="tab"
                    aria-controls="all-orders" aria-selected="true" onclick="filterOrders('All')">
                    <i class="bi bi-card-list"></i>
                    All Orders
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="returned-orders-tab" data-bs-toggle="pill" href="#returned-orders" role="tab"
                    aria-controls="returned-orders" aria-selected="false" onclick="filterOrders('Returned')">
                    <i class="bi bi-arrow-counterclockwise"></i>
                    Returned Orders
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="canceled-orders-tab" data-bs-toggle="pill" href="#canceled-orders" role="tab"
                    aria-controls="canceled-orders" aria-selected="false" onclick="filterOrders('Cancelled')">
                    <i class="bi bi-x-circle"></i>
                    Canceled Orders
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="delivered-orders-tab" data-bs-toggle="pill" href="#delivered-orders" role="tab"
                    aria-controls="delivered-orders" aria-selected="false" onclick="filterOrders('Delivered')">
                    <i class="bi bi-check-circle"></i>
                    Delivered Orders
                </a>
            </li>
        </ul>

        <div class="row order-div" id="orderContainer">
            <% if(orderDetails.length !=0) { %>
                <% orderDetails.forEach((item, index)=> { %>
                    <div class="card border shadow-none order-container" data-status="<%= item.orderStatus %>">
                        <div class="card-body">
                            <% item.products.forEach((product, index)=> { %>
                                <div class="d-flex align-items-start">
                                    <div class="me-4">
                                        <img src="../../<%= product.product_image %>" class="avatar-lg rounded">
                                    </div>
                                    <div class="flex-grow-1 align-self-center overflow-hidden">
                                        <div class="order-place">
                                            <h5 class="font-size-18">
                                                <%= product.product_name %>
                                            </h5>
                                            <p class="mb-0 mt-1">Quantity: <b>
                                                    <%= product.product_quantity %>
                                                </b></p>
                                            <p class="mb-0 mt-1">Price: <b>&#8377; <%=
                                                        product.product_price.toLocaleString() %></b></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <% }) %>
                                    <div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="mt-3">
                                                    <p class="mb-2">Order Placed</p>
                                                    <h6 class="mb-0 mt-2">
                                                        <%= item.createdAt.toDateString() %>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="mt-3">
                                                    <p class="mb-2">Order ID</p>
                                                    <h6 class="mb-0 mt-2">
                                                        <%= item.order_id %>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="mt-3">
                                                    <p class="mb-2">Order Status</p>
                                                    <h6 class="mb-0 mt-2">
                                                        <% if(item.orderStatus==='Pending' ) { %>
                                                            <p class="text-primary">
                                                                <%= item.orderStatus %>
                                                            </p>
                                                            <% } else if(item.orderStatus==='Confirmed' ) { %>
                                                                <p class="text-primary">
                                                                    <%= item.orderStatus %>
                                                                </p>
                                                                <% } else if(item.orderStatus==='Returned' ) { %>
                                                                    <p class="text-danger">
                                                                        <%= item.orderStatus %>
                                                                    </p>
                                                                    <% } else if(item.orderStatus==='Delivered' ) { %>
                                                                        <p class="text-success">
                                                                            <%= item.orderStatus %>
                                                                        </p>
                                                                        <% } else if(item.orderStatus==='Cancelled' ) {
                                                                            %>
                                                                            <p class="text-warning">
                                                                                <%= item.orderStatus %>
                                                                            </p>
                                                                            <% } else if(item.orderStatus==='Shipped' )
                                                                                { %>
                                                                                <p class="text-secondary">
                                                                                    <%= item.orderStatus %>
                                                                                </p>
                                                                                <% } %>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="mt-3">
                                                    <p class="mb-2">Total Price</p>
                                                    <b class="mb-0 mt-2">&#8377; <%= item.totalPrice.toLocaleString() %>
                                                    </b>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="mt-3" style="text-align: center;">
                                                    <a href="/orderDetail/<%= item._id %>" style="color: #fefeeb;">
                                                        <p class="mb-2">Order View</p>
                                                        <b class="mb-0 mt-2">
                                                            <i class="bi bi-eye" style="color: #db4444;"></i>
                                                        </b>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-actions-top">
                                        <% if(item.orderStatus==='Delivered' ) { %>
                                            <a class="btn btn-danger" id="returnOrder" data-bs-toggle="modal"
                                                data-bs-target="#modalreturnOrder" data-id="<%= item._id %>">Return
                                                Order</a>
                                            <% } else if(item.orderStatus==='Confirmed' || item.orderStatus==='Shipped'
                                                ) { %>
                                                <a class="btn btn-danger" id="cancelOrder" data-bs-toggle="modal"
                                                    data-bs-target="#cancelOrderModal" data-id="<%= item._id %>">Cancel
                                                    Order</a>
                                                <% } %>
                                    </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="row d-flex justify-content-center">
                                <div class="no-orders">
                                    <h2 class="nothing">You have no orders</h2>
                                    <a href="/home" class="btn btn-danger d-flex">Shop Now</a>
                                </div>
                            </div>
                            <% } %>
        </div>
    </div>

    <%- include('footer') %>


        <!---------------------- modal for cancel order ----------------------------->


        <div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="cancelOrderModalLabel">Cancel Order</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="cancelReason" class="form-label">Reason for Cancellation</label>
                                <textarea class="form-control" id="cancelReason" rows="3" required></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a class="btn submit-btn btn-primary" id="submitCancelOrder">Confirm</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Return Order Modal -->
        <div class="modal fade" id="modalreturnOrder" tabindex="-1" aria-labelledby="returnOrderLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="returnOrderLabel">Return Order</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="returnOrderForm">
                            <input type="hidden" id="orderId" name="orderId" value="">
                            <div class="mb-3">
                                <label for="returnReason" class="form-label">Reason for Return</label>
                                <textarea class="form-control" id="returnReason" name="returnReason" rows="3"
                                    required></textarea>
                            </div>
                            <button type="submit" class="btn btn-danger">Submit Return</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function filterOrders(status) {
                const orders = document.querySelectorAll('.order-container');
                orders.forEach(order => {
                    if (status === 'All' || order.getAttribute('data-status') === status) {
                        order.style.display = 'block';
                    } else {
                        order.style.display = 'none';
                    }
                });
            }

            document.querySelectorAll('#cancelOrder').forEach((btn) => {
                btn.addEventListener('click', function () {
                    const orderId = this.getAttribute('data-id');
                    document.getElementById('submitCancelOrder').setAttribute('href', `/cancelOrder/${orderId}`);
                });
            });
            document.getElementById('submitCancelOrder').addEventListener('click', function (event) {
                event.preventDefault();
                const href = this.getAttribute('href');
                fetch(href, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ reason: document.getElementById('cancelReason').value })
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/orders';
                            Swal.fire({
                                icon: "success",
                                title: "Order Cancelled Successfully",
                                text: "Shop more"
                            });
                        } else {
                            Swal.fire({
                                icon: "warning",
                                title: "Failed to cancel order",
                                text: "Try Again"
                            });
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });

            //----------------------------------- return order ---------------------------------

            document.addEventListener('DOMContentLoaded', () => {
                const returnOrderModal = document.getElementById('modalreturnOrder');
                returnOrderModal.addEventListener('show.bs.modal', (event) => {
                    const button = event.relatedTarget;
                    const orderId = button.getAttribute('data-id');
                    document.getElementById('orderId').value = orderId;
                });
                document.getElementById('returnOrderForm').addEventListener('submit', async (event) => {
                    event.preventDefault();
                    const orderId = document.getElementById('orderId').value;
                    const returnReason = document.getElementById('returnReason').value;
                    try {
                        const response = await fetch('/returnOrder', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ orderId, returnReason }),
                        });
                        const result = await response.json();
                        if (result.status === 'success') {
                            Swal.fire('Success', 'Order return request submitted successfully', 'success').then(() => {
                                returnOrderModal.querySelector('.btn-close').click();
                                window.location.reload();
                            });
                        } else {
                            Swal.fire('Error', result.message, 'error');
                        }
                    } catch (error) {
                        Swal.fire('Error', 'An error occurred while submitting the return request', 'error');
                    }
                });
            });

        </script>