<style>
    .product-container {
        text-align: center;
    }

    .product-container h2 {
        display: flex;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        color: #fefeeb;
        margin: 2rem;
    }

    .product-list-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    .product-box {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin: 10px;
        padding: 15px;
        width: 100%;
        /* Adjusted */
        max-width: 300px;
        /* Adjusted */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .product-discount-box,
    .product-newarrival-box {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: red;
        color: white;
        padding: 5px;
        border-radius: 5px;
        font-size: 12px;
    }

    .product-image-box {
        width: 100%;
        max-width: 250px;
        /* Adjusted */
        height: 250px;
        /* Adjusted */
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-image-box img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .product-name-box {
        margin-top: 15px;
        text-align: center;
    }

    .product-name-link {
        color: black;
        text-decoration: none;
    }

    .product-text-row {
        margin: 5px 0;
    }

    .wishlist-icon,
    .cart-icon {
        color: gray;
        margin-right: 10px;
        cursor: pointer;
    }

    .wishlist-icon:hover,
    .cart-icon:hover {
        color: red;
    }

    /* sort */
    .product-sort{
        display: flex;
        justify-content: end;
        height: 2.5rem;
        margin: 2rem 10rem 0rem 0rem;
    }
    .product-sort select{
        width: 20%;
        background: #232323;
        color: #fefeeb;
        border-radius: 5px;
    }

    

</style>



<%- include('navbar') %>

    <!-------------------------------------------- Latest Products ------------------------------------------------->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-container">
                    <div class="latest-Products">
                        <div class="product-sort mb-3">
                            <select name="sort-box" class="sort-box" onchange="sortbyCategory('<%= title %>')">
                                <option selected>Sort By</option>
                                <option value="1">Product Name Aa - Zz</option>
                                <option value="2">Product Name Zz - Aa</option>
                                <option value="3">Price low - high</option>
                                <option value="4">Price high - low</option>
                                <option value="5">New arrival</option>
                            </select>
                        </div>
                        <h2>Latest Products</h2>
                    </div>
                    <div class="row">
                        <% product.forEach((product)=> {const productAge = (Date.now() - new Date(product.createdAt).getTime()) / (24 * 60 * 60 *1000);
                            if (productAge <= 10 ) { %>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                    <div class="product-box">
                                        <% if (productAge <=10) { %>
                                            <div class="product-newarrival-box">
                                                <h6>New Arrival</h6>
                                            </div>
                                            <% } %>
                                                <div class="product-image-box">
                                                    <a href="/user/productDetail/<%= product.id %>"
                                                        class="product-name-link">
                                                        <img src="/<%= product.productImage[0] %>" alt=""
                                                            class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="product-name-box">
                                                    <h6 class="product-text-row">
                                                        <%= product.productName %>
                                                    </h6>
                                                    <h5 class="product-price">
                                                        <i class="fa-solid fa-indian-rupee-sign product-text-row"></i>
                                                        <%= product.productPrice.toLocaleString() %>
                                                    </h5>
                                                </div>
                                                <div>
                                                    <a href="#" class="wishlist-icon"><i class="fas fa-heart"></i></a>
                                                    <a onclick="addToCart('<%= product.id %>','<%= product.productPrice %>','<%=user %>')"
                                                        class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                    </div>
                                </div>
                        <% } }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('footer') %>


    <script>
        function sortbyCategory(params){
            const sortBoxValue = document.getElementsByName('sort-box')[0].value
            let location;
            if(params)
            {
                location =`?sortby=${sortBoxValue}`
            }
            window.location.href=`/user/View-more/${location}`
        }
    </script>