<style>
    .product-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    /* sort */
    .product-sort{
        display: flex;
        justify-content: end;
        height: 2.5rem;
        margin: 2rem 10rem 0rem 0rem;
    }
    .product-sort select{
        width: 20%;
        background: #232323;
        color: #fefeeb;
        border-radius: 5px;
    }

    .pagination-controls{
        display: flex;
        justify-content: center;
    }
</style>

<%- include('navbar') %>

    <!-------------------------------------------- Latest Products ------------------------------------------------->

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product-container">
                    <div class="latest-Products">
                        <div class="product-sort mb-3">
                            <select name="sort-box" class="sort-box" onchange="sortbyCategory('<%= title %>')">
                                <option selected>Sort By</option>
                                <option value="1">Product Name Aa - Zz</option>
                                <option value="2">Product Name Zz - Aa</option>
                                <option value="3">Price low - high</option>
                                <option value="4">Price high - low</option>
                                <option value="5">New arrival</option>
                            </select>
                        </div>
                        <h2>Latest Products</h2>
                    </div>
                    <div class="row">
                        <% product.forEach((product)=> { %>
                                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                    <div class="product-box">
                                            <div class="product-newarrival-box">
                                                <h6>New Arrival</h6>
                                            </div>
                                                <div class="product-image-box">
                                                    <a href="/productDetail/<%= product.id %>"
                                                        class="product-name-link">
                                                        <img src="/<%= product.productImage[0] %>" alt=""
                                                            class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="product-name-box">
                                                    <h6 class="product-text-row">
                                                        <%= product.productName %>
                                                    </h6>
                                                    <h5 class="product-price">
                                                        <i class="fa-solid fa-indian-rupee-sign product-text-row"></i>
                                                        <%= product.productPrice.toLocaleString() %>
                                                    </h5>
                                                </div>
                                                <div>
                                                    <a onclick="addwishlist('<%= product.id %>', '<%= product.productPrice %>', '<%= user %>')" class="wishlist-icon">
                                                        <i class="fas fa-heart"></i></a>
                                                    <a onclick="addToCart('<%= product.id %>','<%= product.productPrice %>','<%=user %>')"
                                                        class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                    </div>
                                </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------ Pagination Controls -------------------------------->

<div class="pagination-controls d-flex  mt-3">
    <ul class="pagination">
        <% if (currentPage > 1) { %>
            <li class="page-item"><a class="page-link"
                    href="/View-more/?page=<%= currentPage - 1 %>&limit=<%= limit %>&search=<%= search %>">Previous</a>
            </li>
            <% } %>
                <% for (let i=1; i <=totalPages; i++) { %>
                    <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                        <a class="page-link"
                            href="/View-more/?page=<%= i %>&limit=<%= limit %>&search=<%= search %>">
                            <%= i %>
                        </a>
                    </li>
                    <% } %>
                        <% if (currentPage < totalPages) { %>
                            <li class="page-item"><a class="page-link pagination-next-btn"
                                    href="/View-more/?page=<%= currentPage + 1 %>&limit=<%= limit %>&search=<%= search %>">Next</a>
                            </li>
                            <% } %>
    </ul>
</div>

    <%- include('footer') %>


    <script>
        function sortbyCategory(params){
            const sortBoxValue = document.getElementsByName('sort-box')[0].value
            let location;
            if(params)
            {
                location =`?sortby=${sortBoxValue}`
            }
            window.location.href=`/View-more/${location}`
        }
    </script>